<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Maven TestNG">
    <!--<listeners>
        <listener class-name="runner.TestListener"></listener>
    </listeners>-->
    <test name="Cucumber Test POC">
        <classes>
            <class name="runner.TestRunner"></class>
        </classes>
    </test>
</suite>